/* 
 *  Created on : 24.03.2017, 01:39:01
 *  @copyright : Samet Tarim
 *  @author    : Samet Tarim aka prod3v3loper
 *  @link      : https://www.prod3v3loper.com/
 */

/* FONTS */
@mainFont: 'Exo', 'Helvetica Neue', 'Verdana', 'Helvetica', 'Arial', Sans-Serif;
@codeFont: 'Consolas', 'Andale Mono', 'Monotype.com', 'Lucida Console', 'Monospace', Serif;

/* COLORS */
@bg-default: #F4F4F4;
@bd-default: #DCDCDC;

/* MEDIA QUERIES */
@mq-xxs:   ~"only screen and (min-width: 240px)";
@mq-xs:    ~"only screen and (min-width: 360px)";
@mq-s:     ~"only screen and (min-width: 544px)";
@mq-m-min: ~"only screen and (min-width: 768px)";
@mq-m:     ~"only screen and (max-width: 800px)";
@mq-m-max: ~"only screen and (max-width: 768px)";
@mq-l:     ~"only screen and (min-width: 1024px)";
@mq-xl:    ~"only screen and (min-width: 1280px)";
@mq-xxl:   ~"only screen and (min-width: 1440px)";
@mq-xxxl:  ~"only screen and (min-width: 1600px)";